<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<input type='submit' value='인증하기'>
		<input type='reset' value='닫기'>
	</body>
</html>
